/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  


/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #044A73; color: #fff; text-shadow: none;}
::selection {background: #044A73; color: #fff; text-shadow: none;} 


a {
	color:#044A73;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
html, body {
	min-height:100%;
}
body {
	font-family:Helvetica;
	background:#fafafa;
	font-weight:100;
	color:#333;
}


.tpl-header {
	position:fixed;
	top:0;left:0;
	width:100%;
	background:#343A3F;
	border-bottom:2px solid #1f262c;
	color:white;
	z-index:2;
	padding:5px 15px;
}
	.tpl-header h1 {
		font-size:18px;
	}

.tpl-left-column {
	margin-top:55px;
	background:#f1f1f1;
	float:left;
	z-index:1;
	width:220px;
	margin-left:20px;
	height:100%;
	top:0;
	left:0;
	border:1px dashed #aaa;
	border-radius:5px;
}
	.tpl-left-column a {
		color:#333;
		text-decoration:none;
	}
	.tpl-left-column a:hover {
		text-decoration:underline;
	}
	.tpl-left-column ul {
		list-style:none;
	}
	.tpl-left-column li {
		font-weight:normal;
		padding:2px 20px;
		background:#edf2f6;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		margin-top:10px;
	}
	.tpl-left-column li.list-item-2 {
		margin-top:0;
		background:#f1f1f1;
		margin-left:15px;
		border:none;
	}

.tpl-content {
	margin-left:270px;
	padding-top:50px;
	padding-right:50px;
}
	.tpl-content h1 {
		border-bottom:1px solid #ddd;
		padding-bottom:10px;
		margin-bottom:10px;
	}
	.tpl-content h2, .tpl-content p {
		margin-top:20px;
		margin-bottom:15px;
	}
	.tpl-content p {
		padding-left:2px;
		line-height:1.3em;
	}
	.tpl-content ul, .tpl-content ol {
		padding-left:25px;
	}
	.tpl-content ul {
		list-style:disc;
	}
	.tpl-content li {
		margin-top:15px;
	}
	.tpl-content li img {
		display:block;
		max-width:100%;
		border:1px solid #ccc;
		margin-top:2px;
	}
	.tpl-content code {
		background: #F1F1F1;
		border: 1px dashed #DDD;
	}
	.tpl-content .footer {
		margin-top:25px;
		color:#666;
		padding-bottom:25px;
		padding-top:10px;
		font-size:14px;
		border-top:1px solid #ddd;
		font-style:italic;
	}

.login {
	margin-top:50px;
	margin-left:25px;
}
	.login h1, .login p {
		margin-bottom:10px;
	}